---
import Layout from "../layouts/Layout.astro";
import Header from "@components/01-Header.astro";
import Hero from "@components/02-Hero.astro";
import Services from "@components/03-Services.astro";
import ProductsGrid from "@components/04-ProductsGrid.astro";
import Banner from "@components/06-Banner.astro";
import Blog from "@components/07-Blog.astro";
import News from "@components/08-News.astro";
import Newsletter from "@components/09-Newsletter.astro";
import Footer from "@components/10-Footer.astro";
import WhatsAppButton from "@components/11-WhatsAppButton.astro";
---

<Layout title="Yamaha Guatemala">
	<Header />
	<Hero />
	<main class="w-[80%] mx-auto my-8">
		<Services />
		<ProductsGrid />
		<Banner />
		<Blog />
		<News />
	</main>
	<Newsletter />
	<Footer />
	<WhatsAppButton />
</Layout>
