<section>
    <!-- Título de la sección con línea divisoria -->
    <div class="flex items-center mb-4">
        <h1
            class="relative z-10 text-2xl sm:text-3xl font-bold bg-white px-6 py-2 text-gray-900"
        >
            NUESTROS SERVICIOS
        </h1>
        <span class="h-px flex-1 bg-black"></span>
    </div>

    <!-- Contenedor de los servicios -->
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <!-- Servicio 1 -->
        <div class="relative h-36 rounded-lg overflow-hidden bg-gray-200 group">
            <div
                class="absolute inset-0 bg-cover bg-center"
                style="background-image:url('/assets/images/banner_1.webp')"
            >
                <div
                    class="flex flex-col justify-end h-full p-4 bg-gradient-to-t from-black via-rgba(0,0,0,0.6) to-transparent"
                >
                    <p
                        class="text-white text-lg font-semibold mb-2 transition-transform duration-300 group-hover:text-base group-hover:scale-90 text-shadow"
                    >
                        MOTOCICLETAS
                    </p>
                    <div
                        class="flex items-center justify-between text-white group-hover:opacity-80 transition-opacity duration-300"
                    >
                        <button
                            class="relative inline-flex items-center justify-center overflow-hidden font-medium transition-all text-white rounded-full group py-2 px-6 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yamaha-blue"
                        >
                            <span
                                class="absolute w-0 h-0 transition-all duration-500 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56"
                            ></span>
                            <span
                                class="relative flex items-center transition-colors duration-300 ease-in-out group-hover:text-black"
                            >
                                <span class="mr-2 font-bold"
                                    >Contacta un asesor</span
                                >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5 transition-transform duration-300 transform group-hover:translate-x-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Servicio 2 -->
        <div class="relative h-36 rounded-lg overflow-hidden bg-gray-200 group">
            <div
                class="absolute inset-0 bg-cover bg-center"
                style="background-image:url('/assets/images/banner_2.webp')"
            >
                <div
                    class="flex flex-col justify-end h-full p-4 bg-gradient-to-t from-black via-rgba(0,0,0,0.6) to-transparent"
                >
                    <p
                        class="text-white text-lg font-semibold mb-2 transition-transform duration-300 group-hover:text-base group-hover:scale-90 text-shadow"
                    >
                        REPUESTOS
                    </p>
                    <div
                        class="flex items-center justify-between text-white group-hover:opacity-80 transition-opacity duration-300"
                    >
                        <button
                            class="relative inline-flex items-center justify-center overflow-hidden font-medium transition-all text-white rounded-full group py-2 px-6 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yamaha-blue"
                        >
                            <span
                                class="absolute w-0 h-0 transition-all duration-500 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56"
                            ></span>
                            <span
                                class="relative flex items-center transition-colors duration-300 ease-in-out group-hover:text-black"
                            >
                                <span class="mr-2 font-bold"
                                    >Cotiza respuestos</span
                                >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5 transition-transform duration-300 transform group-hover:translate-x-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Servicio 3 -->
        <div class="relative h-36 rounded-lg overflow-hidden bg-gray-200 group">
            <div
                class="absolute inset-0 bg-cover bg-center"
                style="background-image:url('/assets/images/banner_3.webp')"
            >
                <div
                    class="flex flex-col justify-end h-full p-4 bg-gradient-to-t from-black via-rgba(0,0,0,0.6) to-transparent"
                >
                    <p
                        class="text-white text-lg font-semibold mb-2 transition-transform duration-300 group-hover:text-base group-hover:scale-90 text-shadow"
                    >
                        TALLER
                    </p>
                    <div
                        class="flex items-center justify-between text-white group-hover:opacity-80 transition-opacity duration-300"
                    >
                        <button
                            class="relative inline-flex items-center justify-center overflow-hidden font-medium transition-all text-white rounded-full group py-2 px-6 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yamaha-blue"
                        >
                            <span
                                class="absolute w-0 h-0 transition-all duration-500 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56"
                            ></span>
                            <span
                                class="relative flex items-center transition-colors duration-300 ease-in-out group-hover:text-black"
                            >
                                <span class="mr-2 font-bold"
                                    >Agenda una cita</span
                                >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5 transition-transform duration-300 transform group-hover:translate-x-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center mb-2 mt-8">
        <span class="h-px flex-1 bg-black"></span>
    </div>
</section>

<style>
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
</style>
