<section class="relative w-full overflow-hidden">
    <div class="flex items-center mb-4">
        <h1
            class="relative z-10 text-2xl sm:text-3xl font-bold bg-white px-6 py-2 text-gray-900"
        >
            TE AYUDAMOS A ELEGIR TU MOTO PERFECTA
        </h1>
        <span class="h-px flex-1 bg-black"></span>
    </div>
    <div
        class="relative font-sans before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10"
    >
        <img
            src="/assets/images/banners/banner-1.webp"
            alt="Elige tu moto ideal"
            class="absolute inset-0 w-full h-full object-cover object-center transition-opacity duration-500 ease-in-out"
        />
        <div
            class="relative z-50 flex flex-col justify-end min-h-[250px] sm:min-h-[350px] lg:min-h-[500px] p-4 sm:p-6 md:p-8 max-w-6xl h-full"
        >
            <div class="self-start">
                <button
                    type="button"
                    class="bg-white text-black font-bold py-2 px-6 sm:py-3 sm:px-8 rounded-full flex items-center shadow-lg hover:bg-gray-100 transition-all duration-300 transform hover:scale-105 hover:translate-x-1"
                >
                    CONTACTAR UN ASESOR
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="ml-2 h-5 w-5 transition-transform duration-300 transform group-hover:translate-x-1"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="flex items-center mt-8">
        <span class="h-px flex-1 bg-black"></span>
    </div>
</section>
