---
// AdvertisementGrid.astro
---

<section class="relative">
    <div class="flex items-center mt-4">
        <h1
            class="relative z-10 text-2xl sm:text-3xl font-bold bg-white px-6 py-2 text-gray-900"
        >
            ÚLTIMOS ANUNCIOS
        </h1>
        <span class="h-px flex-1 bg-black"></span>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4">
        {
            [1, 2, 3, 4].map((num) => (
                <div class="group block relative overflow-hidden">
                    <img
                        src={`/assets/images/anuncio_${num}.jpg`}
                        alt={`Anuncio ${num}`}
                        class="object-cover w-full h-full transition-transform duration-300 ease-in-out transform group-hover:scale-105"
                    />
                </div>
            ))
        }
    </div>
    <div class="flex items-center mb-2 mt-8">
        <span class="h-px flex-1 bg-black"></span>
    </div>
</section>
