---

---

<div class="banner py-12">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div
                class="banner_item bg-cover bg-center"
                style="background-image:url(images/banner_1.webp)"
            >
                <p class="banner_text text-white text-2xl mb-4">Motos</p>
                <div class="banner_category motos">
                    <a href="#" class="text-white hover:underline"
                        >Cotiza tu moto</a
                    >
                    <img
                        src="./images/right-top-arrow.svg"
                        alt=""
                        class="inline-block ml-2"
                    />
                </div>
            </div>
            <!-- Repeat for other banner items -->
        </div>
    </div>
</div>
