---
// Hero.astro
import { Image } from "astro:assets";
---

<section id="hero" class="relative w-full h-screen overflow-hidden">
	<div id="video-background" class="absolute inset-0 w-full h-full">
		<div
			id="image-placeholder"
			class="absolute inset-0 bg-cover bg-center bg-no-repeat z-10 transition-opacity duration-300 animate-zoom"
		>
			<Image
				src="/assets/images/hero-background.webp"
				alt="Hero background"
				class="w-full h-full object-cover"
				width={1920}
				height={1080}
				loading="eager"
				format="webp"
			/>
		</div>
		<div
			id="video-container"
			class="w-full h-full opacity-0 transition-opacity duration-300 z-20"
		>
			<video
				id="background-video"
				class="w-full h-full object-cover"
				autoplay
				loop
				muted
				playsinline
				preload="metadata"
				poster="/assets/images/hero-background.webp"></video>
		</div>
		<div id="overlay" class="absolute inset-0 bg-black bg-opacity-30 z-30">
		</div>
		<div
			class="absolute inset-0 flex flex-col justify-between items-center p-4 sm:p-6 lg:p-8 text-white z-40"
		>
			<div
				class="flex-grow flex flex-col justify-center items-center text-center w-full sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-[40%] max-w-4xl mx-auto"
			>
				<div
					class="mb-4 sm:mb-6 flex items-center bg-black bg-opacity-50 p-2 sm:p-3 rounded"
				>
					<Image
						src="/assets/images/map.svg"
						alt="Icono de mapa"
						class="w-5 h-5 sm:w-6 sm:h-6 mr-2"
						width={24}
						height={24}
						loading="lazy"
					/>
					<span class="text-base sm:text-lg md:text-xl font-semibold"
						>Avenida Petapa Zona 12</span
					>
				</div>
				<h1
					class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4 sm:mb-6 leading-tight"
				>
					ESTRENA LA YAMAHA DE TUS SUEÑOS
				</h1>

				<div class="btn-main">
					<a href="#">
						<h1>Gran inauguración 12 de Agosto de 2024</h1>
					</a>
				</div>
				<Image
					src="/assets/images/arrow-down.svg"
					alt="Flecha hacia abajo"
					class="mt-36 w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 animate-bounce"
					width={24}
					height={24}
					loading="lazy"
				/>
			</div>
		</div>
	</div>
</section>

<style>
	@keyframes zoom {
		0% {
			transform: scale(1.05);
		}
		100% {
			transform: scale(1.15);
		}
	}

	.animate-zoom {
		animation: zoom 8s infinite alternate;
	}

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}

	.animate-bounce {
		animation: bounce 2s infinite;
	}

	.btn-main {
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
		height: 40px;
		background: #fe4c50;
		border-radius: 3px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.btn-main:hover {
		background: #fe7c7f !important;
	}

	.btn-main a {
		display: block;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		line-height: 40px;
		width: 100%;
	}

	.btn-main {
		display: inline-block;
	}

	.btn-main a {
		display: block;
		color: #fff;
		text-decoration: none;
		background: rgba(255, 0, 0, 0.7);
		padding: 0.2rem 1rem;
		transition: 0.6s;
		border: none;
	}

	@media (max-width: 697px) {
		.btn-main a {
			display: block;
			color: #fff;
			height: 64px;
			text-decoration: none;
			background: rgba(255, 0, 0, 0.7);
			padding: 0.2rem 1rem;
			transition: 0.6s;
			border: none;
		}
	}

	.btn-main a:hover {
		background: rgba(255, 0, 0, 1);
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const videoContainer = document.getElementById(
			"video-container",
		) as HTMLDivElement | null;
		const imagePlaceholder = document.getElementById(
			"image-placeholder",
		) as HTMLDivElement | null;
		const video = document.getElementById(
			"background-video",
		) as HTMLVideoElement | null;

		if (video) {
			video.src = "/assets/hero-background.mp4";

			video.play().catch((error) => {
				console.log("Error al reproducir automáticamente:", error);

				const playVideoOnInteraction = () => {
					video
						.play()
						.then(() => {
							console.log(
								"Video reproducido después de interacción",
							);
							["touchstart", "click"].forEach((event) =>
								document.body.removeEventListener(
									event,
									playVideoOnInteraction,
								),
							);
						})
						.catch((e) => {
							console.log(
								"Error al reproducir después de interacción:",
								e,
							);
						});
				};

				["touchstart", "click"].forEach((event) =>
					document.body.addEventListener(
						event,
						playVideoOnInteraction,
						{ once: true },
					),
				);
			});

			video.addEventListener("canplay", () => {
				setTimeout(() => {
					if (videoContainer) videoContainer.style.opacity = "1";
					if (imagePlaceholder) imagePlaceholder.style.opacity = "0";
				}, 1500);
			});

			video.addEventListener("error", (error) => {
				console.error("Error al cargar el video:", error);
			});
		}
	});
</script>
