<section class="relative bg-white">
    <div class="relative w-full min-h-[415px] overflow-hidden">
        <img
            src="/assets/images/newsletter-bg.png"
            alt="Newsletter Background"
            class="absolute inset-0 w-full h-full object-cover"
            loading="lazy"
        />
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <!-- Overlay to position the content properly -->
        <div class="absolute inset-0 flex items-center justify-center">
            <div
                class="relative container mx-auto px-4 md:px-8 text-center text-white"
            >
                <div
                    class="max-w-3xl p-8 md:p-12 rounded-lg shadow-lg relative z-10"
                >
                    <h1 class="text-3xl md:text-4xl font-bold mb-4">
                        Suscribete a nuestra Newsletter
                    </h1>
                    <p class="text-base md:text-lg mb-6">
                        Entérate de las últimas noticias y nuestras ofertas
                    </p>
                    <div
                        class="flex flex-col sm:flex-row items-center justify-center gap-4"
                    >
                        <input
                            type="email"
                            class="border border-gray-600 text-gray-900 placeholder-gray-400 px-4 py-2 w-full sm:w-auto flex-grow focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="Your Email Address"
                            aria-label="Your Email Address"
                        />
                        <button
                            class="bg-red-600 text-white py-2 px-6 hover:bg-red-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                            aria-label="Subscribe"
                        >
                            Subscribirme
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
