---
import Header from "../components/01-Header.astro";
import Footer from "../components/09-Footer.astro";
import "@fontsource/play";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<link
			rel="preload"
			href="/assets/images/hero-background.webp"
			as="image"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body class="font-play">
		<main>
			<slot />
		</main>

		<style>
			body {
				font-family: "Play", sans-serif;
			}
		</style>
	</body>
</html>
